<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
    <link rel="shortcut icon" href="../static/img/pc-logo.jpg">
    
{% block titulo %}
    <title>Inicio</title>
{% endblock %}

</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'inicio' %}">
          <img src="../static/img/pc-logo.jpg" 
          width="35" height="35" alt="">
        </a>
        <div class="container-fluid" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'inicio' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'mb' %}">MB</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'cpu' %}">CPU</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'gpu' %}">GPU</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'psu' %}">PSU</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ram' %}">RAM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'hdd' %}">HDD</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ssd' %}">SSD</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'm2' %}">M.2</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <a class="btn btn-primary" href="{% url 'signin' %}">Iniciar Sesion</a> 
          </ul>                
        </div>
    </nav>

{% block contenido %}
    
    <!--Carousel-->
  <div class="container bg-light" style="padding: 0;">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">          
            <a href="{% url 'mb' %}"><img src="../static/img/C01.png" 
            class="d-block w-100" alt=""></a>         
        </div>
        <div class="carousel-item ">         
            <a href="{% url 'ssd' %}"><img src="../static/img/C02.png" 
            class="d-block w-100" alt=""></a>         
        </div>
        <div class="carousel-item ">         
            <a href="{% url 'psu' %}"><img src="../static/img/C03.png" 
            class="d-block w-100"  alt=".."></a>         
        </div>
        <div class="carousel-item ">         
            <a href="{% url 'ram' %}"><img src="../static/img/C04.png" 
            class="d-block w-100"  alt=".."></a>          
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="bg-dark" style="color: white; text-align: center; font-size: xx-large;">                  
      Nuevos
    </div>
  </div>

    {% load humanize %}
    
  <div class="container bg-light" style="padding-top: 1%;"> 
    <div class="card-columns">
    {% for p in productos %}

        <div class="card">

            {% if p.imagen %}
            <img src="{{ p.imagen.url }}" class="card-img-top" alt="imagen-producto">
            {% endif %}

            <div class="card-body bg-dark" style="color: white;">
              <h5 >{{p.nombre}}</h5>
              <h4>Fabricante: {{p.fabricante}}</h4>
              <h4>Precio: ${{p.precio | intcomma}}</h4>
              <h4>stock: {{p.stock}}</h4>
            </div>
            
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
</body>
</html>