<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilos.css">

    <title></title>
</head>

<body>
    <form method="POST" action="" id="formulario">
        <div class="form">
            <img src="../img/user-login.png">
            <div class="form-group">
                <label for="username">Usuario</label>
                <input type="text" id="username" placeholder="Ingreso usuario" />
                <div class="alert alert-danger" role="alert" id="error">El usuario debe tener entre 4 a 16 caracteres
                </div>
            </div>
            <div class="form-group">
                <label for="password">Clave</label>
                <input type="password" id="password" placeholder="Ingrese clave" />
                <div class="alert alert-danger" role="alert" id="error1">La contraseña debe tener entre 8 a 16
                    caracteres</div>
            </div>
            <button type="submit" class="btn btn-success btn-block" id="login">Login</button>
            <button type="reset" class="btn btn-danger btn-block" id="clean">Limpiar</button>
            <p><a href="../html/Validacion.html">¿Todavia sin cuenta?</a></p>
    </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- Uso Jquery -->
    <script>
        $(document).ready(function() {
            //console.log('jquery funciona');
            $('#error').hide();
            $('#error1').hide();

            $('#login').click(function(){
                    event.preventDefault();
            
                var usuario = $('#username').val().trim();
                var contra = $('#password').val().trim();
                console.log('usuario:', usuario);
                console.log('usuario:', contra);

                if (!(usuario.length >= 4 && usuario.length <= 16)) {
                    $('#error').show();
                } else {
                    $('#error').hide();
                }
                if (!(contra.length >= 8 && contra.length <= 16)) {
                    $('#error2').show();
                } else {
                    $('#error2').hide();
                }

                var form = new FormData();
                form.append("username", usuario);
                form.append("password", contra);

                var settings = {
                    "url": "http://nriverv.pythonanywhere.com/api/v1/signin/",
                    "method": "POST",
                    "timeout": 0,
                    "headers": {
                    },
                    "processData": false,
                    "mimeType": "multipart/form-data",
                    "contentType": false,
                    "data": form
                };

                $.ajax(settings).done(function (response) {
                    var respuesta_json = JSON.parse(response);
                    console.log(respuesta_json.errorUsername);

                    window.location = 'Logout.html';
                });
            });
            $('#clean').click(function () {
                $('#error').hide();
                $('#error2').hide();
            });
        });
    </script>
</body>

</html>